.btn-search-form {
    width: 100%;
    margin: 10px 0px;
}

.checkbox input[type=checkbox] {
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
}

.notification-date,
.incident-date {
    display: block;
    margin: 10px 0px;
}

.label-datepicker {
    line-height: 25px;
}

.btn-group {
    margin: 0 auto;
}

    .btn-group .reset {
        margin-left: 10px;
    }

header i {
    font-size: 13px;
    color: #b8b8b9;
    font-weight: 100 !important;
}

.data-show {
    overflow-x: auto;
    margin-bottom: 10px
}
.no-data {
    margin: 5px 0px 20px 0px;
    color: #616367;
}

.show-number {
    font-size: 14px;
    margin: 5px;
}

.show-length {
    float: right;
}

.pagination {
    float: right;
}

    .pagination li a {
        background: #dee2e6;
        color: white;
        border: 1px solid white;
        padding:6px 9px;
        text-decoration:none;
        margin:1px;
    }

    .pagination li a:hover,
    .pagination li.active a{
        background: #b8b8b9;
    }

.item {
    margin-bottom: 15px;
}

.list .item .center {
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
}

    .list .item .center:hover {
        border: 1px solid #ccc;
        background: #e4e4e4;
        text-decoration: none
    }

.list .item i {
    font-size: 70px;
    color: #337ab7;
    text-align: center;
    display: block;
    margin: 10px;
}

.list .item span {
    text-align: center;
    display: block;
    padding: 5px;
    color: #337ab7
}

.media video,
.media audio {
    width: 100%;
}

@media (min-width: 992px) {
    #search-form {
        display: block;
    }
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #c1c1c1;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}